#checkedWords {
	padding: 0px;
	list-style: none;
}

#radioWords {
	padding: 0px;
	list-style: none;
}

#sortWords th {
	cursor: pointer;
	user-select: none;
	padding-right: 1em;
}

#sortWords th:hover {
	text-decoration: underline;
}

#sortWords th.col_selected {
	background-repeat: no-repeat;
	background-position: right 0px bottom 0px;
	background-size: 1em 1em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 20'%3E%3Cpath d='M1,1 h38 l-19,18 z' fill='%23f00' stroke='%23000' stroke-linejoin='round' /%3E%3C/svg%3E%0A");
}

#sortWords th.col_selected.reverse {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 20'%3E%3Cpath d='M1,19 h38 l-19,-18 z' fill='%23f00' stroke='%23000' stroke-linejoin='round' /%3E%3C/svg%3E%0A");
}

#sortHash td:first-child {
	font-family: monospace;
}

html, body {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	margin: 0px;
}

#tabs {
	line-height: 24px;
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0px 0px 0px 20px;
	white-space: nowrap;
	user-select: none;
}

#tabs::after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0px;
	left: 0px;
	border-bottom: 1px solid rgb(0, 0, 0);
	z-index: 1;
	overflow: hidden;
	text-align: center;
	transform: translateX(-20px);
}

#tabs > li {
	border: 1px solid rgb(0, 0, 0);
	display: inline-block;
	position: relative;
	z-index: 1;
	margin: 0px -5px;
	padding: 0px 20px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background: linear-gradient(rgb(236, 236, 236) 50%, rgb(209, 209, 209) 100%);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px, rgb(255, 255, 255) 0px 1px 0px inset;
	text-shadow: rgb(255, 255, 255) 0px 1px;
}

#tabs > li:hover {
	background: linear-gradient(rgb(255, 170, 170) 1%, rgb(255, 236, 236) 50%, rgb(209, 209, 209) 100%);
	cursor: pointer;
	outline: none;
}

#tabs > li::before, #tabs > li::after {
	position: absolute;
	bottom: -1px;
	width: 6px;
	height: 6px;
	content: " ";
	border: 1px solid rgb(0, 0, 0);
	}

#tabs > li::before {
	left: -7px;
	border-bottom-right-radius: 6px;
	border-width: 0px 1px 1px 0px;
	box-shadow: rgb(209, 209, 209) 2px 2px 0px;
}

#tabs > li::after {
	right: -7px;
	border-bottom-left-radius: 6px;
	border-width: 0px 0px 1px 1px;
	box-shadow: rgb(209, 209, 209) -2px 2px 0px;
}

#tabs > li.tab_selected {
	border-bottom-color: rgb(255, 255, 255);
	z-index: 2;
	background: rgb(255, 255, 255) !important;
	cursor: default !important;
}

#tabs > li.tab_selected::before {
	box-shadow: rgb(255, 255, 255) 2px 2px 0px;
}

#tabs > li.tab_selected::after {
	box-shadow: rgb(255, 255, 255) -2px 2px 0px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(0, 0, 0);
		color: rgb(255, 255, 255);
	}

	ul#tabs::after {
		border-color: rgb(255, 255, 255);
	}

	ul#tabs > li {
		background: linear-gradient(rgb(119, 119, 119) 50%, rgb(17, 17, 17) 100%);
		box-shadow: rgba(255, 255, 255, 0.4) 0px 3px 3px, rgb(0, 0, 0) 0px 1px 0px inset;
		text-shadow: rgb(0, 0, 0) 0px 1px;
		border-color: rgb(255, 255, 255);
	}

	ul#tabs > li:hover {
		background: linear-gradient(rgb(255, 34, 34) 1%, rgb(170, 119, 119) 50%, rgb(17, 17, 17) 100%);
	}

	ul#tabs > li::before, ul#tabs > li::after {
		border-color: rgb(255, 255, 255);
	}

	ul#tabs > li::before {
		box-shadow: rgb(46, 46, 46) 2px 2px 0px;
	}

	ul#tabs > li::after {
		box-shadow: rgb(46, 46, 46) -2px 2px 0px;
	}

	ul#tabs > li.tab_selected {
		border-bottom-color: rgb(0, 0, 0);
		background: rgb(0, 0, 0) !important;
	}

	ul#tabs > li.tab_selected::before {
		box-shadow: rgb(0, 0, 0) 3px 2px 0px;
	}

	ul#tabs > li.tab_selected::after {
		box-shadow: rgb(0, 0, 0) -2px 2px 0px;
	}
}

th {
	user-select: none;
}

.hidden {
	display: none;
}
